@import url("https://fonts.google.com/specimen/Overpass");

:root {
  --orange-color: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-Grey: hsl(217, 12%, 63%);
  --medium-Grey: hsl(216, 12%, 54%);
  --dark-Blue: hsl(214, 20%, 23%);
  --very-Dark-Blue: hsl(216, 12%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(216, 12%, 8%);
}

.container {
  width: 400px;
  height: 320px;
  right: 50px;
  color: white;
  border-radius: 5%;
  background: hsl(213, 19%, 18%);
  font-family: Overpass, sans-serif;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.star img {
  align-items: left;
  margin-top: 20px;
  margin-left: 20px;
  background: var(--dark-Blue);
  padding: 12px;
  border-radius: 100%;
}

.title {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-top: 20px;
  margin-left: 5%;
}

.mainText {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  color: hsl(217, 12%, 63%);
  line-height: 20px;
}

.ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.number {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: hsl(217, 12%, 63%);
  background: var(--dark-Blue);
  padding: 15px;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.number:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: var(--white);
  background: var(--orange-color);
}

.number.active {
  background: var(--medium-Grey);
  color: var(--white);
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background: var(--orange-color);
  color: white;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
}

.submit:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: var(--white);
  color: var(--orange-color);
}

footer {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: fixed;
}

.secondContainer {
  display: none;
  width: 350px;
  height: 350px;
  right: 50px;
  color: white;
  border-radius: 5%;
  background: hsl(213, 19%, 18%);
  font-family: Overpass, sans-serif;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.phone {
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedRatings {
  display: flex;
  justify-content: space-evenly;
  background: var(--dark-Blue);
  color: var(--orange-color);
  font-size: 13px;
  border-radius: 50px;
  padding: 10px;
  margin: 0 25%;
  margin-top: 25px;
}

.selectedRatings > .rate {
  margin: 0 -10px;
  font-weight: bold;
}

.secondTitle {
  margin-top: 25px;
  text-align: center;
  font-size: 24px;
}

.secondText {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
  color: hsl(217, 12%, 63%);
}
