@import url("https://fonts.google.com/specimen/Overpass");

:root {
  --orange-color: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-Grey: hsl(217, 12%, 63%);
  --medium-Grey: hsl(216, 12%, 54%);
  --dark-Blue: hsl(214, 20%, 23%);
  --very-Dark-Blue: hsl(216, 12%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(216, 12%, 8%);
}

.container {
  width: 400px;
  height: 320px;
  right: 50px;
  color: white;
  border-radius: 5%;
  background: hsl(213, 19%, 18%);
  font-family: Overpass, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.star img {
  align-items: left;
  margin-top: 20px;
  margin-left: 20px;
  background: var(--dark-Blue);
  padding: 12px;
  border-radius: 100%;
}

.title {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  margin-top: 20px;
  margin-left: 5%;
}

.mainText {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  color: hsl(217, 12%, 63%);
}

.ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.numberOne,
.numberTwo,
.numberThree,
.numberFour,
.numberFive {
  border-radius: 100%;
  color: hsl(217, 12%, 63%);
  background: var(--dark-Blue);
  padding: 15px;
  outline: none;
  border: none;
  margin-left: 21px;
  margin-right: 21px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.numberOne:hover,
.numberTwo:hover,
.numberThree:hover,
.numberFour:hover,
.numberFive:hover {
  cursor: pointer;
  transform: scale(1.2);
  background: var(--orange-color);
  color: var(white);
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  outline: none;
  border: none;
  background: var(--orange-color);
  color: white;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.submitText {
  word-spacing: 50px;
}

.submit:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: var(--white);
  color: var(--orange-color);
}

footer {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: fixed;
}
